[mysql]
	database = "wardrive"
	network_table = "networks"
	upload_table = "uploads"
	[[server]]
		host = "localhost"
		user = "wardrive"
		passwd = "secret"

[tiles]
	cache_path = "/var/cache/wardrive_tiles/"
